@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base.css";
@import "./animations.css";
@import "./text-effects.css";
@import "./components.css";
@import "./universe.css";

body.universe-on {
  background-image: url('/vutru.jpg');
  /* ảnh nền vũ trụ */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*color: #f8fafc;*/
}


