@import "tailwindcss";

.bg-login {
  background-image: url("/bg-login.jpg");
}

.input-box {
  @apply w-full border border-gray-300 p-3 rounded-xl bg-white shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition disabled:bg-gray-100;
}

.menu-btn {
  @apply w-full flex items-center gap-3 p-4 bg-white rounded-2xl shadow hover:bg-gray-50 border border-white/60 transition;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.footer-icon {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  color: #2563eb;
  transition: 0.2s;
}

.footer-icon:hover {
  transform: scale(1.1);
  background: #eff6ff;
}